:root {
    --secondary-bg: #2b2a33;
    --background: #1c1b22;
    --foreground: #fff;
    --bg-light: #3c3b42;
    --border: #75747a;
    --accent: #00aaff;
}

body {
    font-family: 'Comic Sans', 'Comic Sans MS';
    background: var(--background);
    margin: 0;
    min-height: 100vh;
}

* {
    color: var(--foreground);
}

input, button, textarea {
    font-family: 'Comic Sans', 'Comic Sans MS';
}

.posting {
    display: flex;
    gap: 8px;
    margin-inline: 8px;
    justify-content: space-between;
}

.posting button, .posting textarea {
    margin-top: 8px;
}

.posting button {
    width: 100px;
}

.posting textarea {
    width: 100%;
    resize: none;
    margin-bottom: 0;
}

.container {
    border-radius: 5px;
    background:    var(--secondary-bg);
    padding:       5px;
    border:        2px var(--border) solid;
}

.form-section {
    display: flex;
    justify-content: space-between;
}

.container .title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-section span {
    margin-right: 5px;
}

.center {
    margin: auto;
    text-align: center;
}

.center-vert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    text-align: left;
}

#username {
    font-weight: bold;
}

#posts {
    padding-inline: 8px;
    padding-top: 0;
}

#controls {
    padding-block: 8px;
    padding-inline-end: 8px;
    display: flex;
    align-items: center;
}

badge, .badge {
    background: #7b7b7b;
    border-radius: 10px;
    padding: 1px;
    padding-inline: 5px;
}

button, textarea, input {
    background: var(--secondary-bg);
    border: var(--border) 2px solid;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

button:hover, textarea:hover {
    background: var(--bg-light);
}